* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

html{
    min-height: 100%;
    background-color: #1f2937;
}

body {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 1rem;
}

header li, header a, header h3{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

header a{
    transition: ease-in 0.3s;
}

header a:hover{
   color:#3882f6;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 16em;
    font-weight: 800;
    text-transform: uppercase;
}

nav {
    display: flex;
    gap: 58rem;
}

nav ul {
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

.section1container {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@media (max-width: 1200px) {
    .section1container{
        flex-direction: column;
    }
}

.section1{
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-color: #1f2937;
}

.container-left {
    margin: 3em 2em 3em 5em;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-left h3 {
    font-size: 48px;
    color: #fafafa;
    margin: 0;
}

.container-left p {
    margin-top: 1em;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: justify;
    color: #fafafa;
}

.submit {
    background-color: #3882f6;
    color: #fafafa;
    border-radius: 0.5em;
    font-size: 16px;
    width: 125px;
    height: 35px;
    border: transparent;
    margin: 5px 0 5px 0;
    transition: ease-in 0.3s;
}

.submit:hover{
    background-color: #fafafa;
    color: #2e2e2e;
}

.container-right {
    width: 50vw;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-right img {
    border-radius: 10px;
}

.section2 {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    min-width: 100%;
}

.section2container {
    text-align: center;
    padding-bottom: 5em;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 21.5rem;
    flex-wrap: wrap;
}

.motto-header{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding-top: 50px;
}

.img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.img-box {
    width: 200px;
    margin: 1em 2em 0 2em;
    border-radius: 10px;
}

.img-container h2 {
    margin: 0.5rem 0 0.5rem 0;
    text-transform: uppercase;
}

.img-container p {
    color: #1f2937;
    margin: 1rem 3rem;
}

.section3 {
    background-color: #e5e7eb;
    color:#2e2e2e;
}

.section3 p {
    text-align: right;
}

blockquote {
    margin: 0 400px;
    padding: 70px 30px 70px 30px;  
    color: #2e2e2e;
    font-style: itali1c;
    font-size: 36px;
    font-weight: 200;
    text-align: left;
}

blockquote p {
    color:#2e2e2e;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em 0;
}

.section4-container {
    background-color: #3882f6;
    width: 60em;
    padding: 2em 0;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 2em;
}

.action-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
    padding: 0 2em 0 2em;
}

.action-text h2 {
    margin: 0;
    font-size: 30px;
}

.action-text p {
    margin: 0.5em 0;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p{
    text-align: center;
    color:#2e2e2e;
}

.v2 {
    border: 3px solid #fafafa;
    font-style: bold;
}
